</section>
  <!-- footer section -->
  
  <script type="text/javascript" src="view/js/library/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="view/js/adminlte.js"></script>
  <script type="text/javascript" src="model/class_acciones_model.js"></script>
  <script type="text/javascript" src="model/class_user_model.js"></script>
  <script type="text/javascript" src="model/class_expre_regulares.js"></script>
  <script type="text/javascript" src="view/js/table_personal.js"></script>
  <script type="text/javascript" src="view/js/table_expedientes_sin_de.js"></script>
  <script type="text/javascript" src="view/js/table_dir_expedientes_trans.js"></script>
  <!--  -->
  <script type="text/javascript" src="view/js/table_usu_login.js"></script>
  <script type="text/javascript" src="view/js/tablas/tabla_usuarios_trans.js"></script>
  <script type="text/javascript" src="view/js/tablas/tabla_emp_analistas.js"></script>
  <script type="text/javascript" src="view/js/tablas/tabla_ana_emp_trans.js"></script>
  <script type="text/javascript" src="view/js/header_table_personal.js"></script>
  <script type="text/javascript" src="controller/button_accion_controller.js"></script>
  <script type="text/javascript" src="view/js/navbar_le.js"></script>
  <script type="text/javascript" src="view/js/main.js"></script>
  <script type="text/javascript" src="view/js/formularios.js"></script>
  <script type="text/javascript" src="view/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="view/DataTables-1.13.6/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/fixedHeader.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geP1Gnv5uMTD1YFJuRoB5GJ7SVt5uR/ZtJNWP3txnrextIICAob8EVvOVqUvraH" crossorigin="anonymous"></script>
  <script type="text/javascript" src="view/js/virtual-select.min.js"></script>
</body>
</html>