<!-- header -->
<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Brigada Contra el Cambio Climático - MINEC</title>
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="view/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="view/css/style.css">
  <link rel="stylesheet" type="text/css" href="view/css/header.css">
  <link rel="stylesheet" type="text/css" href="view/css/acciones.css">
  <link rel="stylesheet" type="text/css" href="view/css/tabla_expediente.css">
  <link rel="stylesheet" type="text/css" href="view/css/modal.css">
  <link rel="stylesheet" type="text/css" href="view/css/navbar_le.css">
  <link rel="stylesheet" type="text/css" href="view/css/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="view/DataTables-1.13.6/css/dataTables.bootstrap5.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="view/css/tempusdominus-bootstrap-4.min.css"> -->
  <link rel="stylesheet" type="text/css" href="view/css/adminlte.min.css">
  <link rel="stylesheet" type="text/css" href="view/css/main.css">
  <!-- main es para el subir expediente imagen -->
  <link rel="stylesheet" type="text/css" href="view/alertify/css/alertify.rtl.min.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="view/js/library/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="view/alertify/alertify.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="view/css/virtual-select.min.css">
</head>