<body>
      <!-- <nav class='nav_header'>
        <div class="cont_navbar">
          <div class="cont_logo py-1 pl-3">
            <img src="view/images/icono_minec.png"> -->
            <!-- <div> -->
              <!-- <p class="tit_logo ml-2">MINEC</p> -->
            <!-- </div> -->
          <!-- </div>
          <div class="bg-success cont_desc py-1">
            <p class="desc_desc ml-5">Brigada Contra el Cambio Climático</p>
            <div class="flex_n">
              <i class="px-1 mr-4" id="nom_usu_log_header" name="nom_usu_log_header"><b></b></i>
              <p onclick="usuario.logout()" id="btn_cerrar_ss" class="btn_cerrar dps_none px-1">Cerrar sesion</p>
            </div>
          </div>
        </div>
      </nav> -->

      <!-- <nav class="navbar navbar-expand-lg bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">
              <img src="view/images/brigada.png" alt="Bootstrap" width="40" height="40">  <i>Minec - Brigada Contra el Cambio Climatico</i>
            </a> -->
            <!-- d-none -->
            <!-- <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border-radius: 50%; padding:0px;">
              <img src="view/images/icono_minec.png" alt="" srcset="" width="40px">  
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-none" id="ul_menu">
                  <li class="nav-item">
                    <a href="#" class="nav-link" id="opnb_perfil_usu">
                      <i class="fa-solid fas fa-user"></i>
                      <p>
                        Mi perfil
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" id="opn_des_pdf">
                      <i class="fa-solid fas fa-file"></i>
                      <p>
                        Juramentación de las Brigadas
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" id="opnb_pro_eco">
                      <i class="fa-solid fas fa-users"></i>
                      <p>
                        Propuesta Ecosocialista
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" id="opc_admin">
                      <i class="fa-solid fas fa-user"></i> -->
                      <!-- <i class=" fa-solid fas fa-pull-left"></i> -->
                      <!-- <p>
                        Personal
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" id="opc_admin2">
                      <i class="fa-solid fas fa-user"></i>
                       <i class=" fa-solid fas fa-pull-left"></i> -->
                      <!-- <p>
                        Data por Estado
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" id="opnb_cerrar_session">
                      <i class="fa-solid fas fa-door-closed"></i> -->
                      <!-- <i class=" fa-solid fas fa-pull-left"></i> -->
                      <!-- <p>
                        Cerrar sesion
                      </p>
                    </a>
                  </li> -->  
                  <!-- 
                </ul>
            </div>
        </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="view/images/brigada.png" alt="Bootstrap" width="40" height="40">  <i class="text-white" id="text_header">Brigada Contra el Cambio Climatico</i>
    </a>
    <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="cont_btn_nav">
      <img src="view/images/icono_minec.png" alt="" srcset="" width="40px">
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-none" id="opnb_perfil_usu" style="cursor: pointer;">
          <!-- <a class="nav-link" aria-current="page" href="#" class="text-white">Home</a> -->
          <p class="nav-link text-white" aria-current="page" >Perfil</p>
        </li>
        <li class="nav-item d-none" id="opn_des_pdf" style="cursor: pointer;">
          <p class="nav-link text-white" aria-current="page">Juramentación.B</p>
        </li>
        <li class="nav-item d-none" id="opc_admin" style="cursor: pointer;">
          <p class="nav-link text-white" aria-current="page">Personal</p>
        </li>
        <li class="nav-item d-none" id="opc_admin2" style="cursor: pointer;">
          <p class="nav-link text-white" aria-current="page">Data por Estado</p>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Brigadista
          </a>
          <ul class="dropdown-menu">
            <li id="opc_admin"><p class="nav-link text-white" aria-current="page">Perfil</p></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
        <li class="nav-item d-none" style="cursor: pointer;" id="opnb_cerrar_session">
          <p class="nav-link text-white" aria-current="page">Cerrar sesion</p>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>